body{
    background-color: rgb(63, 232, 97);
   display: flex;
   flex-direction: column;
}

h1,p{
    text-align:center ;
    color: #FFFFFF;
}

form{
    display: flex;
    justify-content: center;
}

.form-control{
    margin-bottom: 1rem;
}

.form-group{
    width: 35rem;
}

.botones{
    width: 35rem;
    display: flex;
    justify-content: space-around;
}
.btn{
    color: #FFFFFF;
    margin: 1rem;
}

.gif{
    margin: 0 auto;
    width: 33%;
    display: none;
}

